@import 'parts/inicio';
@font-face {
    font-family: 'icon';
    src:    url('font/icon.eot?ok2a3e');
    src:    url('font/icon.eot?ok2a3e#iefix') format('embedded-opentype'),
        url('font/icon.ttf?ok2a3e') format('truetype'),
        url('font/icon.woff?ok2a3e') format('woff'),
        url('font/icon.svg?ok2a3e#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sicon';
    src:    url('font/Socicon.eot?ok2a3e');
    src:    url('font/Socicon.eot?ok2a3e#iefix') format('embedded-opentype'),
        url('font/Socicon.ttf?ok2a3e') format('truetype'),
        url('font/Socicon.woff?ok2a3e') format('woff'),
        url('font/Socicon.svg?ok2a3e#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
