// main: main.scss
.container{

	.content{
		.container__item
		{
			float: left;
			padding-bottom: 50px;
			header
			{
				width: 100%;
				text-align: center;

				h4
				{
					margin-bottom: 0px;
				//	background: #FFF url("img/h2_bg.jpg") repeat-x scroll 50% center;
					text-align: center;

					a
					{
						color: #000;
						font-size: 34px;
						font-weight: 400;
						text-decoration: none;
						font-family: Didot,serif;
						text-transform: uppercase;
						text-align: center;
						background: white;
						padding-left: 20px;
						padding-right: 20px;
						line-height: 1;
					}
				}

				small
				{
					color: #C3C3C3;
					text-decoration: none;
					font-family: Baskerville,Times,serif;
					font-style: normal;
					text-align: center;
					margin: 20px 0;
					float: left;
					width: 100%;
				}
			}

			picture
			{
				width: 100%;

				img
				{
					width: 100%;
				}
			}

		}
	}
}

.post-category
{
	width: 100%;
	float: left;
	text-align: center;
	color: #D0D0D0;
	margin: 20px 0;
}
.post-category a
{
	color: #D0D0D0;
	margin: 0 10px;
	font-size: 16px;
	text-transform: uppercase;
	margin-bottom: 15px;
	text-align: center;
	letter-spacing: 4px;
	font-family: "Trade Gothic",Baskerville,serif;
	font-style: normal;
	margin-top: 0px;
}
.more
{
	max-height: 30px;
	margin: 0 5%;
	width: 90%;
	float: left;
	display: inline-block;
	font-size: 16px;
	color: #656565;
	text-decoration: none;
	text-align: center;
	font-family: "Trade Gothic",Helvetica,Arial,sans-serif;
	border: 1px solid #F4F4F4;
	padding: 14px 0px;
	letter-spacing: 2px;
	background-color: #F4F4F4;
}
.more:hover
{
	background: white;
}
.post-navigation {
    width: 100%;
    padding: 0px;
    background: #FFF none repeat scroll 0% 0%;
    border-bottom: 1px solid #E5E5E5;
    border-top: 1px solid #E5E5E5;
    margin-top: 50px;
		float: left;
}
.post-navigation a {
    display: block;
    color: #CCC;
		font-family: Didot,serif;
		text-transform: uppercase;
		text-decoration: none;
    text-transform: uppercase;
	 	width: 250px;
    min-height: 30px;
		background-size: 50px;
}
.post-navigation a em
{

	margin: 0px;
	font-size: 10px;
	padding: 0px;
	width: 100%;
}
.post-navigation a span {
    display: block;
		font-size: 20px;
    min-height: 0px;
		margin: 0px;
		padding: 0px;
		width: 100%;
}
.post-navigation a img {
    max-width: 122px;
    display: block;
    width: auto !important;
    border: 1px solid #CCC;
    border-radius: 2px;
		height: 150px;
}
.post-prev {
  background: transparent url("./img/icon/png/arrow395.png") no-repeat scroll 0px 50%;
	float: left;
  padding-left: 60px;
}
.post-next {
	float: right;
  background: transparent url("./img/icon/png/move13.png") no-repeat scroll 100% 50%;
	padding-right: 60px;
	text-align: right;
}

.post-prev, .post-prev label, .post-prev span, .post-prev img
{
	float: left;
}
.post-next, .post-next label, .post-next span, .post-next  img
{
	float: right;
}



.icon-footer
{
	width: 100%;
	text-align: center;
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;

	a
    {
		width: 100%;
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 100%;
		justify-items: center;

		padding: 10px 0px;
	   em
	   {
		   width: 100%;
		   padding: 10px 0px;
		   &:before
		   {
			   width: 100%;
		   }
	   }
	}
}
#comments > h2
{
	text-align: center;
}
.commentlist
{
	list-style: none;
	width: 100%;
}
.comment {
    padding: 25px 50px 5px;
    border-bottom: 1px solid #E5E5E5;
    text-align: left;
}
.comment-author, .comment-date {
    white-space: nowrap;
    margin-bottom: 10px;
    color: #CCC;
    font-size: 12px;
    text-align: left;
}
.comment-author cite {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Trade Gothic",Helvetica,Arial,Condensed,sans-serif;
    font-style: normal;
    text-align: left;
    font-size: 15px;
    letter-spacing: 0px;
}
.comment-meta
{

}
.comment-reply-link, .comment-meta a {
    bottom: 10px;
		font-size: 12px;
    text-decoration: none;
    color: #747474;
    letter-spacing: 0.5px;
}

.comment-form
{
	width: 100%;
	text-align: center;
}
.comment-form textarea, .comment-form input
{
	width: 90%;
	margin: 0 5%;
	float: left;
}
.comment-form label
{
	width: 100%;
	text-align: center;
	float: left;
}
.comment-form .submit
{
	padding: 10px 0;
	background: gray;
	color: white;
}
@media (min-width:400px)
{

}
@media (min-width:700px)
{

}
@media (min-width:1000px)
{
  .more
{
	max-height: 30px;
	width: 120px;
	margin-left: -moz-calc(50% - 79px);
	margin-left: calc(50% - 79px);
	display: inline-block;
	font-size: 16px;
	color: #656565;
	text-decoration: none;
	text-align: center;
	font-family: "Trade Gothic",Helvetica,Arial,sans-serif;
	border: 1px solid #F4F4F4;
	padding: 14px 19px;
	letter-spacing: 2px;
	background-color: #F4F4F4;
}
	.sidebar {
    width: 280px;
		margin-top: 38px;
    text-align: center;
    border-top: 1px solid #E5E5E5;
		float: left;
		margin-left: 2px;
	}
	.sidebar *
	{
		max-width: 100%;
	}
	#redessociales { margin: 40px 0px 40px 0; float: left;}

}
@media (min-width:1200px)
{

}
@media (min-width:1450px)
{
}
