/* Contenido (content)
================================================== */
.container
{
	margin-top: 32px;
	width: 100%;
	float: left;
	background: white;
}
.container-logged
{
	margin-top: 0px;
}
#banner
{
	//display: none;
}
.container__header
{
	width: 100%;
	text-align: center;
	//background: rgba(0,0,0,0.4);
}
.container__header h2
{
	margin: 0px 0px;
}
.content
{
	border-left: 1px solid rgba(0,0,0,0.3);
	border-right: 1px solid rgba(0,0,0,0.3);
}
.content *
{
	max-width: 100%;
	text-align: center;
}

.content > *, .why p
{
	padding: 10px 20px;
	width: calc(100% - 40px);
	float: left;
	overflow: auto;
	display: inline-block;
}
.content > div, .content > section, .content > article
{
	padding: 0px;
	width: 100%;
}
.presentacion
{
	background: url('./img/dark_embroidery.png');
	margin: 0px;
	padding: 0px;
	float: left;
}
.presentacion div
{
	width: 100%;
	margin: 10px 0px;
}
.tarjeta
{
	background: url('./img/tarjeta.jpg') no-repeat center;
	height: 200px;
	width: 100%;
	background-size: 100% auto;
}

#columnas
	{
		background: #F5F5F5;
		padding: 0;
		margin: 0px;
	}
	.columna3
	{
		width: -moz-calc(90% - 20px);
		width: calc(90% - 20px);
		background: url('./img/sos.png');
		border-radius: 10px;
		margin: 10px 5% ;
		padding: 10px;
	}
.why
	{
		background: url('./img/stardust.png');
		font-family: JosefinSlab, sans-serif;
		color: white;
	}
	.why p
	{
		padding-top: 0px;
		font-size: 18px;
	}
.responsivo
{
	background: url('./img/symphony.png');
	background-size: auto;
	font-family: JosefinSlab, sans-serif;
	color: white;
}
.responsivo > div
{
	background: rgba(1, 88, 118, 0.3);
	float: left;
	width: 100%;
}
.responsivo img
{
	width: 90%;
	height: 200px;
	margin-left: 5%;
	margin-top: 10px;
	background: url('./img/responsive.png') no-repeat center;
	background-size: auto 100% ;
	float: left;
}
.responsivo h2, .responsivo p
{
	float: left;
	width: 100%;
	font-size: 20px;
}
.responsivo h2
{
	font-size: 30px;
	margin: 0px;
	margin-top: 20px;
}
.repositorio
{
	width: 100%;
}
.repositorio br
{
	display: none;
}
.repositorio img
{
	max-width: 95%;
	margin: 10px 2.5%;
	float: left;
}
@media (min-width:400px)
{
	.tarjeta
	{
		background-size: auto 100% ;
	}

}
@media (min-width:700px)
{
  #columnas
	{
		background: #F5F5F5;
		float: left;
		padding: 30px 0;
		width: 100%;
	}
	.columna3
	{
		width: calc(30% - 20px);
		float: left;
		margin: 0 1.65%;
		background: url('./img/sos.png');
		border-radius: 10px;
		padding: 10px;
	}
	.responsivo
	{
		background-size: 7%;
		margin: 0px;
	}
	.responsivo > div
	{
		float: left;
		width: 100%;
	}
	.responsivo img
	{
		width: 300px;
		height: 200px;
		margin-left: calc(50% - 300px);
		background-size: 100% auto;
		float: left;
		padding: 10px 0;
	}
	.responsivo h2, .responsivo p
	{
		float: left;
		width: 30%;
		margin-left: 5%;
		font-size: 20px;
		color: white;
	}
	.responsivo h2
	{
		font-size: 30px;
		margin: 0px;
		margin-left: 5%;
	}
	.repositorio img
	{
		max-width: 30%;
		margin: 0 1.6%;
		height: auto;
		float: left;
	}
}
@media (min-width:1000px)
{
  .container
	{
		width: 84%;
		background: #FFF none repeat scroll 0% 0%;
		margin: 0px 8%;
		border: 1px solid #E5E5E5;
	}
	.container-logged
	{
		/*margin-top: 43px;*/
	}
	.presentacion div
	{
		height: 300px;
	}
	.tarjeta
	{
		height: 250px;
		margin-top: 25px;
		background-size: auto 100%;
	}
	#columnas
	{
		//margin-left: -10px;
	}
	.why
	{
		padding: 10px 20px;
		width: calc(100% - 40px);
		background: url('./img/stardust.png');
		font-family: JosefinSlab, sans-serif;
		color: white;
	}
	.why p
	{
		color: white;
		font-size: 18px;
	}
	#banner
	{
		display: block;
		width: 70%;
		float: left;
		margin: 50px 15% 50px 15%;
		float: left;
	}
	#slideshow
	{
		width: 100%;
		float: left;
	}
  .content
	{
		width: 100%;
		float: left;
		padding: 0px;
		min-height: 1600px;
		text-align: center;
	}
}
@media (min-width:1200px)
{

}
